<?xml version="1.0" encoding="utf-8"?>
<LEConfig>
  <Profiles>
    <Profile Name="RS.sln.le.config" Guid="14a7acb5-f9f9-43f2-941a-981772f29808" MainMenu="false">
      <Parameter></Parameter>
      <Location>ko</Location>
      <Timezone>Tokyo Standard Time</Timezone>
      <RunAsAdmin>true</RunAsAdmin>
      <RedirectRegistry>true</RedirectRegistry>
      <IsAdvancedRedirection>false</IsAdvancedRedirection>
      <RunWithSuspend>false</RunWithSuspend>
    </Profile>
  </Profiles>
</LEConfig>